In [1]:
#11.192423, 79.709923
# "place_id": "ChIJ6arCErzfVDoRvcoVZwi9Tvk",
# "data_id": "0x3a54dfbc12c2aae9:0xf94ebd086715cabd",

from outscraper import ApiClient
from dotenv import load_dotenv
import os
import datetime
from datetime import timedelta
import time
import pickle
import pandas as pd
import numpy as np
load_dotenv()


client = ApiClient(api_key=os.environ['OUTSCRAPPER_KEY'])

KeyError: 'OUTSCRAPPER_KEY'

## SerpAPI

In [9]:
import os
import serpapi


from dotenv import load_dotenv
load_dotenv()

ImportError: cannot import name 'GoogleSearch' from 'serpapi' (/home/svenk199/test/sadha/.venv/lib/python3.10/site-packages/serpapi/__init__.py)

In [6]:
api_key=os.environ['SERPAPI_KEY']
client=serpapi.Client(api_key=api_key)

In [7]:
results = client.search({
    'engine': 'google_maps',
    'q': 'Hotel Sadhabishegam',
    'll': '@11.192423, 79.709923,15.1z',
    'type': 'search',
})

In [10]:
results = client.search({
    'engine': 'google_maps_reviews',
    'place_id': 'ChIJ6arCErzfVDoRvcoVZwi9Tvk',
    'type': 'search',
    'sort_by': 'newestFirst',
    
})

In [31]:
def to_integer(dt_time):
    return 10000*dt_time.year + 100*dt_time.month + dt_time.day

# x=round(int(datetime.datetime.now().timestamp()))

today = datetime.date.today()
print("Today is: ", today)
 
# Yesterday date
yesterday = today - timedelta(days = 1)
print("Yesterday was: ", yesterday)

x=to_integer(yesterday)

Today is:  2024-06-09
Yesterday was:  2024-06-08

In [19]:
# df=pd.read_csv('sadhabishegam_reviews.csv')
# df=df[['review_date','review_rating']]
# df=df[df['review_rating'].notna()]
# df.to_csv('sadhabishegam_reviews1.csv',index=False)

In [20]:
df=pd.read_csv('./sadhabishegam_reviews1.csv')
df['review_date']=pd.to_datetime(df['review_date'])
df=df.sort_values('review_date',ascending=False).reset_index(drop=True)
latest_date=int(df['review_date'].loc[0].timestamp())
# latest_date_int=to_integer(latest_date)

In [72]:
results = client.google_maps_reviews(['ChIJ6arCErzfVDoRvcoVZwi9Tvk'], reviews_limit=10,cutoff=latest_date,language='en',sort='newest',async_request=True)
attempts = 5 # retry 5 times
while attempts: # stop when no more attempts are left or when no more running request ids
    attempts -= 1
    time.sleep(60)

    
    outscrapper_result = client.get_request_archive(results['id'])
    # result = client.get_request_archive('a-22b81a6f-fbec-4f62-87b6-66ad431cec5f')
    print(outscrapper_result['status'])

    if outscrapper_result['status'] == 'Success':
        break
# outscrapper_results=client.get_request_archive('a-22b81a6f-fbec-4f62-87b6-66ad431cec5f')

Success

In [75]:
df=pd.DataFrame(columns=['review_rating','review_date'],index=range(len(outscrapper_result['data'][0]['reviews_data'])))
for id,element in enumerate(outscrapper_result['data'][0]['reviews_data']):
    # df.loc[id,'review_id']=element['review_id']
    df.loc[id,'review_rating']=element['review_rating']
    df.loc[id,'review_date']=pd.to_datetime(element['review_datetime_utc']).strftime('%Y-%m-%d %H:%M:%S')
    # df.loc[id,'review_text']=element['review_text']

In [7]:
df=pd.read_csv('sadhabishegam_reviews1.csv')

In [16]:
pd.to_datetime(df['review_date'].iloc[-1]).strftime('%Y-%m-%d %H:%M:%S')

'2024-05-25 19:31:16'

In [9]:
pd.to_datetime(df['review_date'])

ValueError: time data "06/09/2024 09:50:29" doesn't match format "%Y-%m-%d %H:%M:%S", at position 2822. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [6]:
df.sort_values('review_date',ascending=False).reset_index(drop=True)

              review_date  review_rating
0     2024-05-24 05:20:48            3.0
1     2024-05-22 16:36:08            2.0
2     2024-05-22 00:23:53            5.0
3     2024-05-16 13:26:42            4.0
4     2024-05-15 12:45:28            5.0
...                   ...            ...
2826  06/03/2024 08:49:50            5.0
2827  06/01/2024 15:15:01            5.0
2828  05/31/2024 16:21:27            1.0
2829  05/29/2024 03:42:21            5.0
2830  05/25/2024 19:31:16            3.0

[2831 rows x 2 columns]

In [39]:
# with open("./sadhabishegam_reviews", "wb") as fp:   #Pickling
#     pickle.dump(x, fp)
a
with open("sadhabishegam_reviews", "rb") as fp:   # Unpickling
    b = pickle.load(fp)

## saving to csv

In [42]:
with open("sadhabishegam_reviews", "rb") as fp:   # Unpickling
    data = pickle.load(fp)

In [59]:
df=pd.DataFrame(index=range(0,10))

In [15]:
df=pd.DataFrame(columns=['review_id','review_rating','review_date','review_text'],index=range(len(outscrapper_result['data'][0]['reviews_data'])))
for id,element in enumerate(outscrapper_result['data'][0]['reviews_data']):
    df.loc[id,'review_id']=element['review_id']
    df.loc[id,'review_rating']=element['review_rating']
    df.loc[id,'review_date']=element['review_datetime_utc']
    df.loc[id,'review_text']=element['review_text']

In [81]:
df.to_csv('./sadhabishegam_reviews.csv',index=False)

In [69]:
data['data'][0]['reviews_data'][0]

{'google_id': '0x3a54dfbc12c2aae9:0xf94ebd086715cabd',
 'review_id': 'ChdDSUhNMG9nS0VJQ0FnSUREdWN1enZ3RRAB',
 'review_pagination_id': 'CAESBkVnSUlBUQ==',
 'author_link': 'https://www.google.com/maps/contrib/105636033088388932579?hl=en',
 'author_title': 'Krupa Hari',
 'author_id': '105636033088388932579',
 'author_image': 'https://lh3.googleusercontent.com/a/ACg8ocJPw7FuT9VFXPEEUTMgiaeRrlg73rZLLmShOiwucpb7OYyP3Qc=s120-c-rp-mo-br100',
 'author_reviews_count': 7,
 'author_ratings_count': 9,
 'review_text': 'Had a pleasant stay here for 2 days and enjoyed breakfast lunch and dinner at their pure veg restaurant.  Special mention to the courteous and caring staff at the restaurant.\n\nWe found the room spacious and comfortable. It was fortunately devoid of the current trend of false ceiling and spot lights.\n\nIdeally located close to temples, it has good food, comfy rooms,  hot water for bathing, kettles in the room,  good air conditioning, ample parking, lush green trees and good landscaping.. overall a beautiful experience.\n\nHope their service continues to be as good in the years to come.',
 'review_img_urls': None,
 'review_img_url': None,
 'review_questions': {'Trip type': 'Vacation',
  'Travel group': 'Family',
  'Rooms': '5',
  'Service': '5',
  'Location': '5',
  'Hotel highlights': 'Luxury, Great view, Quiet'},
 'review_photo_ids': None,
 'owner_answer': 'Dear Mr.Krupa Hari,\nThanks for rating us well, we thank you for stay with us. We are happy that you had a comfortable stay with us. Looking forward to your visit again.\nWith Regards,\nTeam Sadhabishegam.',
 'owner_answer_timestamp': 1712898557,
 'owner_answer_timestamp_datetime_utc': '04/12/2024 05:09:17',
 'review_link': 'https://www.google.com/maps/reviews/data=!4m8!14m7!1m6!2m5!1sChdDSUhNMG9nS0VJQ0FnSUREdWN1enZ3RRAB!2m1!1s0x0:0xf94ebd086715cabd!3m1!1s2@1:CIHM0ogKEICAgIDDucuzvwE%7CCgsIqMPgsAYQoI-KNg%7C?hl=en',
 'review_rating': 5,
 'review_timestamp': 1712857512,
 'review_datetime_utc': '04/11/2024 17:45:12',
 'review_likes': 0,
 'reviews_id': '-482240266295194947'}

## Analysis

In [22]:
df=pd.read_csv('./sadhabishegam_reviews.csv')
# monthly_df=pd.DataFrame()
# monthly_df['review_rating'] = df['review_rating']
# monthly_df.index=pd.to_datetime(pd.to_datetime(df['review_date']).dt.date)

df['review_date']=pd.to_datetime(df['review_date']).dt.date
# df['review_date']=pd.to_datetime(df['review_date'])
df=df.sort_values('review_date',ascending=False).reset_index(drop=True)

In [60]:
temp=pd.DataFrame(monthly_df['review_rating'].resample('W').mean()).reset_index()
temp=pd.DataFrame(monthly_df.resample('W').agg({'review_rating':['mean','count']})).reset_index(col_level=1).droplevel(0,axis=1)
# temp[temp['review_rating'].notna()]
temp

    review_date      mean  count
0    2012-07-15  2.000000      1
1    2012-07-22       NaN      0
2    2012-07-29       NaN      0
3    2012-08-05       NaN      0
4    2012-08-12       NaN      0
..          ...       ...    ...
615  2024-04-28  4.500000      2
616  2024-05-05  2.500000      2
617  2024-05-12  2.666667      3
618  2024-05-19  4.666667      3
619  2024-05-26  3.333333      3

[620 rows x 3 columns]

In [8]:
today = datetime.date.today()

twelve_days = today - timedelta(days = 30)
# df['review_date'].resample('W')

In [9]:
def get_percentage_increase(num_a, num_b):
    return ((num_a - num_b) / num_b) * 100

get_percentage_increase(3.83,3.5)

9.42857142857143

In [11]:
temp=df[(df['review_date']<today) & (df['review_date']>twelve_days)].sort_values('review_date')

In [35]:
df=pd.read_csv('./sadhabishegam_reviews.csv')
df['review_date']=pd.to_datetime(df['review_date']).dt.date
df=df.sort_values('review_date').sort_index()

In [38]:
df.head(2)

,review_id,review_rating,review_date,review_text
0,ChdDSUhNMG9nS0VJQ0FnSUREdWN1enZ3RRAB,5.0,2024-04-11,Had a pleasant stay here for 2 days and enjoye...
1,ChZDSUhNMG9nS0VJQ0FnSURObDU3cEdBEAE,NaN,2024-01-02,The stay at hotel sadhabhishegam was very comf...

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2822 entries, 0 to 2821
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   review_id      2822 non-null   object
 1   review_rating  2760 non-null   float64
 2   review_date    2822 non-null   object
 3   review_text    1407 non-null   object
dtypes: float64(1), object(3)
memory usage: 110.2+ KB

In [36]:
def filter_time_df(df,previous_n_days_lm,previous_n_days_ul):
   previous_n_days_ul = datetime.date.today() - timedelta(days = previous_n_days_ul)
   previous_n_days_ul = datetime.date.today() - timedelta(days = previous_n_days_lm)
   df=df[(df['review_date']<previous_n_days_ul) & (df['review_date']>previous_n_days_lm)].sort_values('review_date')
   return df

In [43]:
def get_percentage(num_a,num_b):
    return round(((num_a - num_b) / num_b) * 100,2)

get_percentage(70,92)

-23.91

In [41]:
previous_n_days_ul=datetime.date.today() - timedelta(days = 30)
df[(df['review_date']<previous_n_days_ul)]

,review_id,review_rating,review_date,review_text
0,ChdDSUhNMG9nS0VJQ0FnSUREdWN1enZ3RRAB,5.0,2024-04-11,Had a pleasant stay here for 2 days and enjoye...
1,ChZDSUhNMG9nS0VJQ0FnSURObDU3cEdBEAE,NaN,2024-01-02,The stay at hotel sadhabhishegam was very comf...
2,ChZDSUhNMG9nS0VJQ0FnSUNkeGRhOFVREAE,NaN,2024-02-10,Hotel Sadhabishegam is very well maintained. T...
4,ChZDSUhNMG9nS0VJQ0FnSUNqdExHVWZBEAE,2.0,2024-04-18,Earlier one of the quality hotels in Vaitheesw...
5,ChZDSUhNMG9nS0VJQ0FnSURqcGEyck5BEAE,NaN,2024-04-02,We booked this hotel by seeing the Google revi...
...,...,...,...,...
2817,ChRDSUhNMG9nS0VJQ0FnSURZM2J4ehAB,4.0,2018-07-26,NaN
2818,ChRDSUhNMG9nS0VJQ0FnSURNOV9JbhAB,5.0,2020-01-15,NaN
2819,ChRDSUhNMG9nS0VJQ0FnSURZbmU4WhAB,4.0,2018-09-02,NaN
2820,ChRDSUhNMG9nS0VJQ0FnSUN4OW9FSxAB,4.0,2023-05-17,NaN
2821,ChRDSUhNMG9nS0VJQ0FnSUNzeU00QhAB,4.0,2020-01-20,NaN

In [37]:
temp_df_time_filtered=filter_time_df(df,previous_n_days_lm=120,previous_n_days_ul=0)

TypeError: '>' not supported between instances of 'datetime.date' and 'int'

In [18]:
x=temp['review_rating'].mean().round(2)
print(f'Average Rating over last to last 4 months: {x}')

Average Rating over last to last 4 months: 3.36